
* {
    margin: 0;
    padding: 0;
    
}
.navbar {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    margin: 0;
    padding: 25px 0; 
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.logo {
    height: 60px;
    position: absolute;
    left: 60px;
    top: 56%; 
    transform: translateY(-50%);
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.navbar ul li {
    margin: 0 15px; 
    font-family: 'Segoe UI';
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    transition: color 0.5s;
}
.navbar ul li a:hover {
    color: #ff6200;
}
.navbar ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    left: 0;
    bottom: -2px; ;
    background: #ff6200;
    transition: width 0.3s ease, right 0.3s ease;
}
.navbar ul li a:hover::after {
    width: 100%;
    right: 0;
}

.icon {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    position: absolute;
    right: 60px;
}

.icon li {
    margin: 0 5px; 
}

.icon a {
    color: #ff6200;
    font-size: 14px; 
    transform: scale(1);
    text-decoration: none;
    transition: color 0.5s, transform 0.5s;
}

.icon a:hover {
    color: #000000;
    transform: scale(1.2);
}


                                    /* IDHR SY bNNER CONTENT ! SHURU HAI */

.banner {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    border-bottom: #ffffff solid 10px;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

.banner-content {
    max-width: 50%;
    text-align: left; 
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 90px;
}

.banner-title {
    font-size: 50px;
    margin-bottom: 20px;
}



.banner-button a {
    background-color: #ff6200;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 25px;
    transform: scale(1);    
    border: #ffffff 1px solid;
    transition: all 0.5s;
}

.banner-button a:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.1);
    background-color: black;
    padding: 15px 25px;
}

.banner-image {
    max-width: 57%;
    height: auto;
    margin-left: auto;
    margin-top:100px;
}

span {
    color: #ff6200;
    font-family: MV Boli;
}

                                  /* IDHR SY bNNER CONTENT 2 SHURU HAI */
.banner2 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    box-sizing: border-box;
    margin-bottom: 50px;
    background-color: #f5f5f5;
}

.banner-content2 {
    max-width: 50%;
    text-align: left; 
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 90px;
}

.banner-title2 {
    font-size: 50px;
    margin-bottom: 20px;
}



.banner-button2 a {
    background-color: #ff6200;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 25px;
    transform: scale(1);    
    border: #ffffff 1px solid;
    transition: all 0.5s;
}

.banner-button2 a:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.1);
    background-color: black;
    padding: 15px 25px;
}

.banner-image2 {
    max-width: 100%;
    height: auto;
    margin-right: auto;
}       

                        /* idhr sy menu shuru hai */





.menu-section {
    width: 100%;
    background-color: #f5f5f5;
    text-align: center;
    padding-top: 100px;
    border-top: #ffffff solid 10px;
}
.banner-title3 {
    font-size: 50px;
    margin-bottom: 20px;
}
.box-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 50px;
}

.box {
    position: relative;
    width: 300px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; 
}

.box img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.box .rating {
    margin: 10px 0;
}

.box .rating i {
    color: #ff6200;
    transition: all 1s;
}
.box .rating i:hover {
    color: #ff0000;
    transform: scale(1.1);
}

.box .price {
    font-size: 20px;
    margin: 10px 0;
    font-family: mv boli;
}

.box .buy-button {
    background-color: #ff6200;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.5s, transform 0.5s;
}

.box .buy-button:hover {
    background-color: #ff0000;
    transform: scale(1.1);
    filter: drop-shadow(0 0 5px rgba(255, 0, 0, 0.5));
}

.box .heart-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #000000;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.5s, transform 0.5s ;
}

.box .heart-icon:hover {
    color: #ff0000;
    transform: scale(1.2);
}
h4 {
    font-family: mv boli;
    color: #ff6200;
}
                /* footer yaha sy shuru hai */

.banner3 {
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #f5f5f5;
}
footer {
    background-color: #808080   ;
    padding-top: 50px;
    box-shadow: #ffffff 1px 1px 5px;
    border-top: white 10px solid;
}
footer a {
    text-decoration: none;
    color: white;
}
.container {
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer-heading {
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
    font-family: mv boli;
    color: rgb(255, 255, 255);
    transition: color 0.5s, transform 0.5s;
}
.footer-heading:hover {
    color: #ff6200;
    transform: scale(1.1);
    font-family: mv boli;
}
.footer-p {
    font-family: sans-serif;
    color: white;
    padding: 5px;        
    width: 200px;
    margin-left: 50px;
    padding: 7px;
 }
.footer-content {
    width: 33.3% ;
}
.footer-content ul {
    text-align: center;
}
.list {
    padding: 0%;
}
.list li {
    width: auto;
    text-align: center;
    list-style: none;
    padding: 7px;
    position: relative;
    transition: color 0.5s, transform 0.5s;
}
.list li::before {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background-color: #ff6200;
    transition-duration: .5s;
}
.list li:hover::before {
    width: 20%;
}
.socail-icons {
    text-align: center;
    padding: 0;
}
.socail-icons li {
    display: inline-block;
    text-align: center;
    padding: 5px;
    color: white;
    font-size: 25px;
}
.socail-icons i:hover {
    color: #ff6200;
    transition: color 0.5s, transform 0.5s;
}
.bottom-bar {
    background-color: #ff6200;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p {
    color: rgb(255, 255, 255);
    font-size: 16px;
    margin: 0;
}
